apiVersion: v1
kind: Service
metadata:
  name: vaultwarden-eso-bridge
  labels:
    app.kubernetes.io/name: vaultwarden-eso-bridge
    app.kubernetes.io/part-of: secrets-platform
spec:
  type: {{ .Values.service.type }}
  selector:
    app.kubernetes.io/name: vaultwarden-eso-bridge
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
